html, body {
    padding: 0;
    min-height: 100%;
    font-size: 14px;
    width: 100%;
    background-color: white;
    color: aliceblue;
    flex:none;
}

div {
    box-sizing: border-box; 
    display: inline-block;
    flex: none;
}

/*серый*/
.main-block{
    background-color: gray;
    height: 350px;
    width: 89%;
    margin: 1% 5%;
    flex: none;

}


/*зеленый*/
.flex-block {
    background-color: rgb(93, 241, 93);
    height: 320px; /*320*/
    width: 85%;/*85*/
    margin: 1% 10% 1% 7%;
    padding: 1px 12px;
    flex: none;

}


.i {
   background-color: rgb(212, 12, 12);
    width: 70px;/*70*/
    height: 70px;
   margin: 20px;
    box-sizing: border-box; 
    flex: none;
}

/*.flex-block .item {
    color: aliceblue;
    background-color: brown;
    width: 30%;
    height: 70px;
    display: inline-block;
    border: 2px solid rgb(42, 0, 158);
    display: inline-block;
    margin: 20px;
}
*/

/*
@media screen and (min-device-width: 1600px) {
    body {
        width: 1500px;
    }
}



